input {
    font-family: 'Inconsolata', monospace;
    /* width: 40%; */
    height: 50px;
    outline: none;
    border: none;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    border:2px solid gray;
    transition: all 1s;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size:16px;

  }


.mat-input-element {
   caret-color: white; 
}

  .search-bar-container{
    background:linear-gradient( rgba(34.51%, 20.43%, 16.86%, 1.00) 150px, rgba(20.78%, 26.27%, 24.71%, 0.84)100%),url('/assets/bg-img4.jpg');
    height:500px;
    display: flex;
    margin-bottom:20px;
  }

  .search-bar-container form{
    margin:auto;
  }

  input:hover{
    box-shadow: 0 0 25px 0 rgb(184, 181, 182),
    0 20px 25px 0 rgba(0, 0, 0, 0.2);
  }

  .search div{
  height: 50px;
  width: 133px;
  line-height: 34px;
  border-radius: 30px;
  border: 2px solid #fe4066;
  box-sizing: border-box;
  color: #fe4066;
  text-align: center;
  margin-left: 10px;
  display: block;
  color: #ffffff;
    background: #fe4066;
    padding-top:5px;
  }

  .search .cdk-overlay-pane {
    width:40% !important;
    left:27%;
  }

  .search div:hover{
    box-shadow: 0 0 5px 0 #fe4066,
    0 10px 25px 0 #fe4066;
  }

  .search{
      display: flex;
      justify-content:center;
      color:white;
      cursor: pointer;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
}

*:focus {
    outline: none;
}
.shows-display{
  width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.mat-card-image{
  width: fit-content;
  margin: 0 auto;
  display: block;
  padding-top: 0px;
}
.mat-card-image:first-child {
  margin-top: 0 auto;
}
.card-content{
  display: flex;
}

.select-list  .mat-form-field-appearance-fill .mat-form-field-flex {
 
    background-color:transparent!important;
}

.search-bar-container p{
  text-align: center;
  font-size:4vw;
  font-weight:bold;
  font-family: cursive;
  color:goldenrod;
} 

@media only screen and (max-width: 992px) {
  .search-bar-container{
    height:250px;
  }
}

.search .disabled{
  cursor:none;
  background-color: transparent;
}

.search .disabled:hover{
  box-shadow: none;
}

.default-img{
  height: 68px;
  width:60px;
}