/* You can add global styles to this file, and also import other style files */

html, body { height: auto;    background-color:gainsboro;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.content{
    margin-top:28px!important;
}

.details img, .shows-display img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overview{
    text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: darkseagreen;
}

.mat-card{
    background-color: #465656;
    color: white;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: green;
}
.mat-dialog-container {
    vertical-align: middle; 
}
.info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:20px;
}

 .details-container,.dialogue-container{
    display: flex;
}

.episode-img{
    margin:auto;
}
.dialogue-container .episode-img{
    margin:auto 0;
}

.default-img{
    width:180px;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.1);
}


.chip {
    display: inline-block;
    padding: 0 25px;
    min-height: 35px;
    min-width:80px;
    font-size: 16px;
    line-height: 35px;
    border-radius: 25px;
    margin:1px 1px 0px 0px;
    background-color: darkorange;
  }

.poster_img{
    display: block;
    margin: auto 0;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color:darkgrey;
    margin:8px 0;
  }
  .full {
    color: goldenrod;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: goldenrod;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }
  .shows-display .mat-chip-list-wrapper{
      justify-content: center;
  }

  .show-info .overview,.short-overview,.episode-name{
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    }

    .episode-name{
        -webkit-line-clamp: 2;

    }

    .card-content,.season-display .card-content, .tv-shows .card-content{
        display: flex;
        flex-direction:column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
     }

     .show-more .mat-raised-button :hover{
        background-color: rgb(45 37 36 / 64%);
        font-size: 17px;
    }

    .overview, .short-overview{
        font-size: 16px;
    }
    
     @media only screen and (max-width: 992px) {

         .dialogue-container{
          flex-direction: column!important;         
        }
        .dialogue-container .episode-img{
            margin:0 auto;
            display:block;
        }
        .dialogue-container .info{
            text-align: center;
        }
    }

  @media only screen and (max-width: 768px) {

  .details-container{
    flex-direction: column!important;         
  }
  .poster_img{
      margin:0 auto;
      display:block;
  }
  .mat-chip-list-wrapper{
    justify-content: center;
}
.info {
    align-items: center;
}

.chip-section{
    display: contents;
}
.dialogue-container .info, .details-overview,.short-overview{
    text-align: center;
}

.dialogue-container .info, .details-overview{
    padding:20px 0px 0 0;
}
}

*:focus, *:active {
    outline: none;
}

.mat-form-field .mat-form-field-underline {
    width: 0% !important;
}


.example-full-width{
    width:50%;
}

.mat-autocomplete-panel .mat-option{
    margin:10px 0;
    border-bottom: 1px solid darkgray;
    padding: 37px;
}

.mat-autocomplete-panel {
    border-radius: 8px;
}


.tv-shows-info img{
    width: 185px;
    height: 103px;
}

.season-select .mat-select-value {
    color:white!important;
    font-size:18px;
    font-weight:bold;
}
.season-select  .mat-select-arrow {
     color: white; 
}
