.shows-display{
  width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 20px 5px;
    grid-auto-rows: minmax(100px, auto);
}

.show-info{
    margin-top:8px;
    text-align:center;
    width:inherit;
}

.fancy_card:hover {
    transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
  }

  .fancy-card{
      cursor: pointer;
  }


.mat-card-image{
    width: fit-content;
    margin: 0 auto;
    display: block;
    padding-top: 0px;
}
.mat-card-image:first-child {
    margin: 0 auto;
}
.card-content,.filter-options{
    display: flex;
}

 .default-img{
     height:277px;
     width: 185px;
 }

 .filter-options{
 justify-content: flex-end
 }

 .filter-options div{
     margin:auto 0;
     padding-bottom:1.36em;
     padding-right:3px;
     font-weight: bold;
     color: grey;
 }

 .mat-option span{
     color:grey;
 }

 @media only screen and (max-width: 992px) {
    .shows-display{     
          grid-template-columns: repeat(2, 50%);        
      }
  }

 @media only screen and (max-width: 768px) {
    .shows-display{
          grid-template-columns: repeat(1, 100%);
         
      } 
  }

