.details{
    display: flex;
    padding:25px;
    min-height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
}

.shows-display, .season-display{
    display:grid;
    grid-gap:10px;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
      padding:20px 0px;
      cursor: pointer;
}


.season-name{
    padding-top: 15px;
    height:50px;
    background-color: #ffe3f1;
    border-radius: 5px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    margin-top:15px
}
.season-content{
    display:flex;
}

.season-content .info{
    justify-content: center;
}

.season-card{
    padding:0px;
    margin:18px 0;
}

.season-image{
    width: fit-content;
    margin:0px;
    display: block;
    padding-top: 0px;
    margin: 0 0px 0px 2px;
}
.season-image:first-child {
    margin: auto 0;
}

.default-img{
    height: 415px;
    width:300px
}

.card-content .mat-card-image{
    display: flex;
    justify-content: center;
}

.season-display .mat-card-image:first-child {
    margin-top:0px;
}

.mat-card{
    margin:8px;
}


@media only screen and (max-width: 768px) {
    .details{
        padding:25px 0 0 0;
    }
    .details .info{
        padding: 0px;
    }
    .details-container{
        flex-direction: column;  
        padding:10px;        
      }
      .poster_img {
          margin:auto;
      }
      .season-content{
        flex-direction:column;
    }
    .season-image:first-child {
        margin:0 auto;
    }
    .details-container .poster_img img{
        height:auto;
    }
    .season-display .mat-card-image:first-child {
        margin-top:-16px;
    }
  }

  .season-display .fancy-card{
      cursor: pointer;
  }

  .view-more{
    color:#c70062;
    cursor: pointer;
  }

  .season-display .mat-card{
      max-width: 185px;
  }

    .mat-form-field {
        display: block;
        background-color: rgba(104, 67, 63, 0.84);
        border-radius:9px;
        margin:15px;
    border: 2px solid rgba(104, 67, 63, 0.84);;
    }
  
  .hidden{
      display: none;
  }