<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
    </span>
</ng-template>
<div class="details-img">
<div class="details" 
style="background:linear-gradient( rgba(65.5%,76.9%,89.4%, 1.00) 150px, rgba(40.78%, 26.27%, 24.71%, 0.84)100%),url('https://image.tmdb.org/t/p/w1280/{{details.backdrop_path}}')"
*ngIf="details">
    <!-- <div class="details" style="background-image:url('https://image.tmdb.org/t/p/w185/{{details.backdrop_path}}')"> -->
    <div class="container" >
        <div class="details-container">
            <div  class="poster_img">
                <!-- <img src="https://image.tmdb.org/t/p/w185/{{details.poster_path}}" style="height: 450px"> -->
                <img *ngIf="details.poster_path; else defaultimage"
                    src="https://image.tmdb.org/t/p/w342/{{details.poster_path}}">
                <ng-template #defaultimage><img class="default-img" src="../assets/default.jpg"></ng-template>
            </div>
            <div class="info">
                <div style="font-size: 16px;font-weight:bold">{{details.name}}</div>
                <div  class="air-date" style="color:gray">{{details.first_air_date | date}}</div>

                <ngb-rating [max]="10" [rate]="details.vote_average" [starTemplate]="t" [readonly]="true"></ngb-rating>
                <pre>{{details.vote_average | number:'1.0-1'}}/10({{details.vote_count}})</pre>


                <div *ngIf="details.status!=''" style="font-weight: bold">Status</div>
                <div>{{details.status}}</div>
                <br />
                <div style="font-weight: bold">Type</div>
                <div>{{details.type}}</div>
                <br />
                <div *ngIf="details.networks.length!=0" style="font-weight: bold">Network</div>
                <div>
                    <mat-chip-list>
                        <mat-chip *ngFor="let network of details.networks">
                            {{network.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <br />
                <div *ngIf="details.genres.length!=0"  style="font-weight: bold">Genres</div>
                <div class="chip-section">
                    <div class="chip" *ngFor="let genre of details.genres">
                        {{genre.name}}
                    </div>
                </div>             
                          
            </div>
        </div>
        <div *ngIf="!viewmore" class="short-overview" style="padding-top:15px">{{details.overview}}
                              
            </div>
            
        <div class="details-overview" *ngIf="viewmore" style="padding-top:15px">{{details.overview}}</div>
        <span *ngIf="details.overview!=''" class="view-more" (click)="viewmore = !viewmore">{{ viewmore ? 'Show less': 'Show More' }}
            </span>

    </div>
</div></div>
<div class="container" *ngIf="details && details.seasons.length">
    <div>
        <mat-form-field appearance="fill">
                <mat-select [value]="selected_season" (selectionChange)="onSeasonChange($event,details.id)">
                  <mat-option *ngFor="let data of details.seasons"  ngDefaultControl [value]="data">
                    {{data.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
             
    <app-season-episodes *ngIf="seasonEpisodes" [season_data]='seasonEpisodes'></app-season-episodes>


</div>