.details{
    display: flex;
    padding:25px;
    min-height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
}


  .details::before{
    background-color: rgba(152, 66, 211, 0.63);

  } 
  
  .shows-display, .season-display{
      display:grid;
      grid-gap:10px;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
        padding:20px 0px
  }

.season-name{
    padding-top: 15px;
    height:50px;
    background-color: #ffe3f1;
    border-radius: 5px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    margin-top:15px
}
.season-content{
    display:flex;
}

.season-content .info{
    justify-content: center;
}

.season-card{
    padding:0px;
    margin:18px 0;
}

.season-image{
    width: fit-content;
    margin:0px;
    display: block;
    padding-top: 0px;
    margin: 0 0px 0px 2px;
}
.season-image:first-child {
    margin: auto 0;
}

.default-img{
    height: 415px;
    width:300px
}

.card-content .mat-card-image{
    display: flex;
    justify-content: center;
}

.season-display .mat-card-image:first-child {
    margin-top:0px;
}

.mat-card{
    margin:8px;
}

.details-container .poster_img img{
    height:450px;
}

@media only screen and (max-width: 768px) {
    .details{
        padding:25px 0 0 0;
    }
    .details .info{
        padding: 0px;
    }
    .details-container{
        flex-direction: column;  
        padding:10px;        
      }
      .poster_img {
          margin:auto;
      }
      .season-content{
        flex-direction:column;
    }
    .season-image:first-child {
        margin:0 auto;
    }
    .details-container .poster_img img{
        height:auto;
    }
    .season-display .mat-card-image:first-child {
        margin-top:-16px;
    }
  }

  .season-display .fancy-card{
      cursor: pointer;
  }

  .view-more{
    color:#c70062;
    cursor: pointer;
  }

  .season-display .mat-card{
      max-width: 185px;
  }

    .mat-form-field {
        display: block;
        background-color: cornflowerblue;
        border-radius:9px;
        margin:15px;
    border: 2px solid cornflowerblue;
    }
    .mat-form-field-flex {
        width:400px;
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform:inherit !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color:cornflowerblue!important;
    }
    
    .mat-form-field .mat-form-field-underline {
        width: 0% !important;
    }

  
  
  .theme-pink {
    --radius: 2em;
    --baseFg: #c70062;
    --baseBg: #ffe3f1;
    --accentFg: #c70062;
    --accentBg: #ffaad4;
  }

select {
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
  }
  
  select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  }
  
  select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
  }

  .hidden{
      display: none;
  }