.mat-sidenav-content{
    background-color:#d8e2e2;
    /* background-color:darkslategray; */

}

.nav-buttons .mat-button:hover, .nav-buttons .mat-list-item:hover{
    color:rgb(238, 229, 229);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
   text-decoration: none;
   }
   .nav-buttons .mat-list-item{
    color:white;
   }

   mat-toolbar-row .nav-buttons{
       display: flex;
   }

   .is-active{
       font-size:20px;
   }

   .mat-sidenav{
    background-color:rgb(35 37 36 / 84%);
       width:20%;
   }

   .mat-sidenav-container,.mat-sidenav{
    padding-top:63px

   }

   ::ng-deep .mat-toolbar{
    z-index: 999;
    position: fixed
  }
  ::ng-deep .mat-tab-group{
    margin-top:55px !important;
  }
  
  ::ng-deep .mat-tab-header{
        z-index: 999;
        width:100vw;
        position: fixed  !important;
  }
  ::ng-deep .mat-tab-body-wrapper{
      position: relative !important;
  }

  mat-toolbar-row{
    background-color:rgb(35 37 36 / 84%);

  }

  .footer .content{
    margin:5px;
    display: flex;
    justify-content: space-between;
    font-family: fantasy;
  }
  .footer .content div,.social-media p{
    font-size:18px;
  }
  .social-media{
    display: flex;
  }
  
  .footer div a{
    color: black;
  }
  
  .footer div{
    margin-top:10px;
  }
  
  .footer .follow{
    margin:auto 0;
  }

  .footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
    height:200px;
  }
  @media only screen and (max-width: 992px) {
    .mat-sidenav{
        width:auto;
    }
}

  @media only screen and (max-width: 768px) {
    .nav-buttons .tabs{
        display: none;
    }
    .mat-sidenav-container,.mat-sidenav{
      padding-top:56px 
     }
     .footer .content,.social-media{
       flex-direction: column;
     }
     .footer{
      height:250px;

     }
     
  }



  .fa {
    padding: 15px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


  