
<!-- Toolbar -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        <!-- (click)="sidenav.toggle()" -->
      </button>
      <h1>Shows</h1>
      <span class="menu-spacer"></span>
      <div class="nav-buttons">
        <a mat-button [routerLink]="''"> search shows </a> 
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>   
          <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>        
          <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>    
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div>   
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

<div class="content" role="main">
    <!-- <router-outlet></router-outlet> -->

  
</div><div>


